<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Create an issue!</p>
    <p><input type="text" name="issuename"></input></p>
    <p><input type="submit" name="issuebutton"></input></p>
  </body>
</html>
