<textarea type="search" class="form-control" rows="4" placeholder="What issue do you care about?"></textarea>
<button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
<h1>Hello, Rails!</h1>
<%= link_to "My Blog", controller: "posts" %>

